.wait-card.mdl-card {
  width: 640px;
  height: 640px;
  background: #0097A7;
}
.wait-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.wait-card > .mdl-card__title {
  align-items: flex-start;
  justify-content: center;
}
.wait-card > .mdl-card__title > h4 {
  margin-top: 0;
}
.wait-card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.wait-card > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.wait-card > .mdl-card__actions,
.wait-card > .mdl-card__supporting-text {
  background: #FAFAFA;
  width: 100%;
}
.wait-card > .mdl-card__title,
.wait-card > .mdl-card__actions,
.wait-card > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.wait-card > .mdl-card__actions > .mdl-button,
.wait-card > .mdl-card__actions > .mdl-button > a {
  background: #0097A7;
  color: #fff;
}

.wait-card > .mdl-card__media {
  padding: 120px 13px 120px 13px;
  background: #EFEFEF;
}

.wait-card > .mdl-card__media > .table {
  display: table;
}

.wait-card > .mdl-card__media > .table > .row {
  display: table-row;
  text-align: center;
}

.wait-card > .mdl-card__media > .table > .row > .cell {
  width: 150px;
  height: 100%;
  display: table-cell;
  text-align: center;
}

.wait-card > .mdl-card__media > .waiting-spinner {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.wait-card > .mdl-card__media > .waiting-spinner > .spinner-sizer {
  display: inline-block;
}

.wait-card > .mdl-card__media > .waiting-spinner > .spinner-sizer > .mdl-spinner {
  width: 100px;
  height: 100px;
}

.game-card.mdl-card {
  width: 480px;
  height: 480px;
  background: #EBEBEB;
}

.game-card.mdl-card > .mdl-card__media {
  background: transparent;
  width: 100%;
  height: 100%;
}

.table-card {
  width: 1190px;
  min-height: 400px;
  padding-top: 15px;

  text-align: center;
}

.table-card > .mdl-card__supporting-text {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}

.table-card > .mdl-card__media {
  background-color: inherit;
  margin-bottom: 10px;
}

.table-card > .mdl-card__media  table {
  width: 98%;
  margin-left: 3px;
  margin-right: 3px;
  border-collapse: collapse;
}

.table-card > .mdl-card__media  table > tbody > tr > th {
  text-align: center;
  border: 1px solid #dddddd;
}

.table-card > .mdl-card__media  table > tbody > tr > td {
  font-size: 12px;
  border: 1px solid #dddddd;
}

.table-card > .mdl-card__media > table > tbody > tr > td > figure > img {
  width: 100px;
  height: 100px;
}

.table-card > .mdl-card__media > table > tbody > tr > td > table {
  display: inline-block;
}

.table-card #history-media {
    height: calc(100% - 175px);
}

.table-card #table-wrapper {
    height: calc(100% - 80px);
    overflow-y: auto;
    text-align: left;
}

.table-card #table-wrapper > table{
    text-align: center;
}

.table-card #order_input {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.table-card #order_input:focus {
    outline: none;
}

.table-card #order__input {
    text-align: center;
}

.table-card #order__label {
    top: 0;
}

.table-card #order__label::after {
    bottom: 5px;
}

.table-card #order_input > .mdl-textfield__error {
    font-size: 10px;
}

.table-card .light-orange {
    background-color: khaki;
}

#game-panel {
  height: 100%;
  text-align: center;
}

#game-panel > .control-panel{
  position: fixed;
  bottom: 0;
  margin-left: -325px;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
}

#game-panel > .control-panel > .half-oval-shaped > .mdl-textfield {
  pointer-events: all;
  margin-top: 20px;
}

#game-panel > .control-panel > .half-oval-shaped > span {
  display: inline-block;
  width: 100%;
}

#game-panel > .control-panel > .half-oval-shaped > span > button {
  pointer-events: all;
  margin-top: 5px;
}

#top_table .this_player {
    background-color: #EBEBEB;
}

#top_table .this_player.your_turn {
    -moz-animation:myfirst 2s infinite;
    -webkit-animation:myfirst 2s infinite; 
}

@-moz-keyframes myfirst
{
      0%   {background: #EBEBEB;}
     16%   {background: #EBEBEB;}
     24%  {background:  rgba(68,138,255, 1.0);}
     32%   {background: #EBEBEB;}
     50%   {background: #EBEBEB;}
}
 
@-webkit-keyframes myfirst
{
      0%   {background: #EBEBEB;}
     16%   {background: #EBEBEB;}
     24%  {background:  rgba(68,138,255, 1.0);}
     32%   {background: #EBEBEB;}
     50%   {background: #EBEBEB;}
}

.ret_tint, .who_tint, .dis_tint, .pro_tint {
    width: 100px;
    position: relative;
    display: inline-block;
}

.ret_tint::before, .who_tint::before, .dis_tint::before, .pro_tint::before {
    content: "";
    display: block;
    position: absolute;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px;
}

.ret_tint.paint::before{
    background: #009e73;
}

.who_tint.paint::before{
    background: #0072b2;
}

.dis_tint.paint::before{
    background: #cc79a7;
}

.pro_tint.paint::before{
    background: #f0e442;
}

.last_row {
    background-color: rgba(68,138,255, 5.0);
}

#report-panel {
  width: 100%;
  height: 100%;
}

#report-panel > .mdl-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  width: 1180px;
  background: #EBEBEB;
}

#report-panel > .mdl-card > .mdl-card__supporting-text {
  width: 100%;
}

#report-panel > .mdl-card > .mdl-card__supporting-text > table {
  width: 99%;
  margin-bottom: 10px;
  margin-left: -13px;
  margin-right: 3px;
  border-collapse: collapse;
  text-align: center;
}

#report-panel > .mdl-card > .mdl-card__supporting-text > table > tbody > tr > th {
  text-align: center;
  border: 1px solid #dddddd;
}

#report-panel > .mdl-card > .mdl-card__supporting-text > table > tbody > tr > td {
  font-size: 12px;
  border: 1px solid #dddddd;
}

#report-panel > .mdl-card > .mdl-card__supporting-text > table > tbody > tr > td > img {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

#report-panel > .mdl-card > .mdl-card__supporting-text > table > tbody > tr > td > table {
  display: inline-block;
}

.graph-card {
  margin-bottom: 15px;
}

#graph-content {
  height: 400px;
}

.mdl-layout__content > section {
  padding-bottom: 150px;
}

body{
  height: 100%;
}

.alpha6 {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 -1px 5px rgba(0,0,0,.5));
	-moz-filter: drop-shadow(0 -1px 5px rgba(0,0,0,.5));
	-ms-filter: drop-shadow(0 -1px 5px rgba(0,0,0,.5));
	-o-filter: drop-shadow(0 -1px 5px rgba(0,0,0,.5));
	filter: drop-shadow(0 -1px 5px rgba(0,0,0,.5));
}

.hidden {
  display: none;
}

.tab-smaller {
  min-height: 32px;
}

.center-content{
  height: 100%;
}

.half-oval-shaped{
  width: 650px;
  height: 300px;
  margin: 10px 7px -150px 7px;
  -moz-border-radius: 650px / 300px;
  -webkit-border-radius: 650px / 300px;
  border-radius: 650px / 300px;

  background: #EBEBEB;
}

.wait-card{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -320px;
  margin-left: -320px;
}

.game-card{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -240px;
}

.table-card{
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 50%;
  margin-top: 20px;
  margin-left: -595px;
}

.mdl-textfield {
    width: 200px;
}

.attention {
  position: fixed; /* Wheen the page is scrolled, it stays in place. Change to absolute to make it scrollable.*/
  left: 50px;
  top: 80px;
  width: 56px;
  height: 200px;
  text-align: center;
  z-index: 2;
  
  animation: waggle 3s infinite;
}

.attention.hidden {
  display: none;
}

.attention > .rect {
  display: inline-flex;
  background-color: blue;
  width: 90%;
  height: 75%;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  margin-bottom: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.attention > .circ {
  display: inline-flex;
  background-color: blue;
  width: 90%;
  height: 25%;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  border-radius: 40px;
  box-shadow: 10px 10px 5px #888888;
}

@keyframes waggle {
  0% {
    transform: none;
  }
  16.7% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  20% {
    transform: rotateZ(25deg) scale(1.2);
  }
  22.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  25% {
    transform: rotateZ(15deg) scale(1.2);
  }
  27.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  28.3% {
    transform: rotateZ(0) scale(1.2);
  }
  33.3% {
    transform: rotateZ(0) scale(1);
  }
}