.root {
    -card-color: #F4F4F4;
    -header-color: #FFC107;
}

.transparent{
    -fx-background-color: transparent;
}

.transparent > .viewport{
    -fx-border-color: #003399; 
    -fx-border-radius: 10;
}

.left > .viewport {
    -fx-border-color: #003399; 
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
}

.right > .viewport {
    -fx-border-color: #003399; 
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
}


.transparent > .tab-content-area{
    -fx-background-color: transparent;
    -fx-border-color: #777777; 
    -fx-border-radius: 8 8 0 0;
    -fx-border-width: 2px;
}

.padded-10{
    -fx-padding: 10;
}

.shadowed-1{
    -fx-effect: dropshadow(gaussian, black, 10, 0, 3, 3);
}

.card {
    -fx-background-color: -card-color;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #003399;
    -fx-padding: 10 10 10 10;
}

.card.header {
    -fx-background-color: -header-color;
}

.card.header > .label {
    -fx-font-weight: bolder;
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.card.center{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.card.top-left{
    -fx-border-radius: 10 0 0 0;
    -fx-background-radius: 10 0 0 0;
}

.card.bottom-left{
    -fx-border-radius: 0 0 0 10;
    -fx-background-radius: 0 0 0 10;
}

.card.top-right{
    -fx-border-radius: 0 10 0 0;
    -fx-background-radius: 0 10 0 0;
}

.card.bottom-right{
    -fx-border-radius: 0 0 10 0;
    -fx-background-radius: 0 0 10 0;
}

.card.right{
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0;
}

.card.left{
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
}

.card.top{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.card.bottom{
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

.lang-menu {
    -fx-background-color: -header-color;
    -fx-border-color: transparent;
    -fx-background-radius: 3 0 0 3;
}

.lang-menu:hover {
    -fx-background-color: derive(-header-color, -20%);
}

.lang-menu > .arrow-button {
    -fx-padding: 0;
}

.lang-menu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.lang-menu .lang-element{
    -fx-spacing: 10;
    -fx-alignment: center;
}

.lang-menu .lang-element .label{
    -fx-text-fill: white;
}

.lang-menu .lang-element .icon{
    -fx-fill: white;
}

.context-menu {
    -fx-background-color: -header-color;
    -fx-border-color: transparent;
}

.lang-element.item{
    -fx-background-color: -header-color;
    -fx-focus-color: -header-color;
    -fx-text-fill: white;
}

.lang-element.item.current{
    -fx-background-color: derive(-header-color, -10%);
    -fx-focus-color: derive(-header-color, -10%);
    /*-fx-text-fill: white;*/
}

.lang-element.item .hbox-1 {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.lang-element.item:focused {
    -fx-background-color: derive(-header-color, -20%);
    -fx-focus-color: derive(-header-color, -20%);
}


.hyperlink{
    -fx-border-color: transparent;
}

.hyperlink .icon {
    -fx-fill: white;
}

.hyperlink:hover .icon {
    -fx-fill: cornflowerblue;
}

.tab-pane, .tab-pane.floating {
    -fx-tab-min-width: 80px;
    -fx-tab-max-width: 120px;
    -fx-tab-max-height: 30px;
    -fx-tab-min-height: 30px;
}

.main-tabs > .tab-header-area .icon {
    -fx-icon-size: 30px;
    -fx-fill: white;
}

.main-tabs > .tab-header-area .tab {
    -fx-tab-background: -header-color;
    -fx-background-color: -fx-tab-background;
    -fx-background-radius: 8 8 0 0;
    -fx-border-radius: 8 8 0 0;
    -fx-border-color: #7a7a7a;
    -fx-border-style: solid inside;
    -fx-border-width: 2 2 0 2;
}

.main-tabs > .tab-header-area .tab-label{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.main-tabs > .tab-header-area .tab:hover{
    -fx-background-color: derive(-fx-tab-background, 20%);
}

.main-tabs > .tab-header-area .tab:selected{
    -fx-border-color: cornflowerblue;
    -fx-border-width: 3 3 0 3;
    -fx-background-color: derive(-fx-tab-background, -5%);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.ip-info {
    -fx-background-color: -header-color;
    -fx-min-height: 30px;
    -fx-background-radius: 3px;
    -fx-border-color: #777;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-style: solid inside;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.ip-info > .label{
    -fx-text-fill: white;
}

.game-load{
    -fx-background-color: palegoldenrod;
    -fx-background-radius: 10;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-vgap: 18px;
    -fx-border-color: #777;
    -fx-border-radius: 10;
    -fx-border-style: solid outside;
    -fx-border-width: 2;
}

.game-load .icon{
    -fx-icon-size: 30px;
    -fx-fill: white;
}

.game-load > .button{
    -fx-background-button-color: azure;
    -fx-max-width: 100px;
    -fx-min-width: 100px;
    -fx-max-height: 30px;
    -fx-min-height: 30px;
    -fx-border-color: #777;
    -fx-border-width: 1 2 2 2;
    -fx-border-style: solid outside;
    -fx-background-color: -fx-background-button-color;
}

.game-load > .button:hover{
    -fx-background-color: derive(-fx-background-button-color, 20%);
}

.game-load > .button:pressed{
    -fx-background-color: derive(-fx-background-button-color, -20%);
}

.game-load > .button.left{
    -fx-background-radius: 0 0 0 10;    
    -fx-border-radius: 0 0 0 10;
}

.game-load > .button.right{
    -fx-background-radius: 0 0 10 0;
    -fx-border-radius: 0 0 10 0;
}

.game-load > .button.load{
    -fx-background-button-color: #00cc33;
}

.game-load > .button.remove{
    -fx-background-button-color: #ff6666;
}

.game-load > .label{
    -fx-alignment: BOTTOM_CENTER;
    -fx-min-width: 150px;
    -fx-min-height: 60px;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-text-fill: #4A4A4A;
}

.game-info {
    -fx-padding: 10;
    -fx-vgap: 10;
}

.game-info .card.header .label{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-fill: white;
}

.game-info .card.data {
    -fx-vgap: 8;
    -fx-hgap: 8;
    -fx-padding: 16;
}

.game-info .card.data .hbox {
    -fx-spacing: 6;
}

.game-info .card.data .label{
    -fx-font-size: 16;
    -fx-text-fill: #777;
}

.game-info .card.data .text-node{
    -fx-font-size: 16;
    -fx-font-weigth: bold;
}

.play-pause {
    -fx-background-color: derive(-header-color, -10%);
}

.play-pause:hover {
    -fx-background-color: derive(-header-color, -20%);
}

.play-pause:selected {
    -fx-background-color: derive(mediumspringgreen, -20%);
}

.play-pause:selected:hover {
    -fx-background-color: derive(mediumspringgreen, -40%);
}

.play-pause .icon {
    -fx-fill: white;
    -fx-icon-size: 40px;
}

.creation-buttons {
    -fx-hgap: 15px;
    -fx-padding: 5px;
}

.creation-buttons .button{
    -fx-min-height: 60px;
    -fx-min-width: 100px;
}

.creation-buttons .icon{
    -fx-icon-size: 30px;
    -fx-fill: white;
}

.button.create{
    -fx-base: #00cc33;
}

.button.clear{
    -fx-base: #ff6666;
}

.button.config{
    -fx-base: peru;
}